% This is a configuration file with paths to external wrapped executables,
% or auxiliary configuration data employed in the compiled package.
% Please specify the local FilePaths - leave blank otherwise.
% All Entries follow the pattern: #ExecutableTAG \n strExecutableFILEPATH
% Header lines starting with '%' will be treated as comments and ignored.
#EXE_Elastix
/home/elea/Documents/test/riap/src/riap/elastix-lib/bin/elastix
% Path HERE!
#EXE_Transformix
/home/elea/Documents/test/riap/src/riap/elastix-lib/bin/transformix
% Path HERE!
#LIB_SystemSharedLibs
# /lib/x86_64-linux-gnu/
% Find the above path by running 'ldd <#EXE_Elastix>' in the UNIX terminal
#LIB_Elastix
/home/elea/Documents/test/riap/src/riap/elastix-lib/lib
% Path HERE!
